.white {
  width: 10vw;
  height: 50vh;
  background-color: white;
  display: inline-block;
  border-style: solid;
  text-align: center;
  user-select: none;
  font-size: 3vw;
}
.white:hover {
  background-color: grey;
}
.black {
  width: 5vw;
  height: 45vh;
  background-color: black;
  display: inline-block;
  color: white;
  position: absolute;
  margin-left: -3vw;
  user-select: none;
  font-size: 3vw;
  text-align: center;
}
.black:hover {
  background-color: grey;
}
